

body{

    background-color: rgb(240, 240, 240);
    font-size: 15px;
   
    font: roboto;
}

h3{
    color: rgb(26, 55, 77);
}
h5{
    color: rgb(57, 62, 70);
}

div{
    text-align: center;
    background: white;
    padding: 30px;
    border-radius: 6px;
    box-shadow: 0 15px 30px rgba(0,0,0,0.1);
    margin: 10px auto;
    width: 650px;
    
    border: 1px solid rgba(0, 0, 0, 0.1);
    color: rgb(34, 87, 126);
}

.container{
    background-color: rgb(240, 240, 240);
    width: 700px;
    margin: 20px auto;
    box-shadow: 0px 0px 0px ;
    border: 0px solid rgba(0, 0, 0, 0.1)

}

.card:hover{
    box-shadow: 2px 2px 10px gray ;
}

@media (max-width : 800px){

    .container{
        width: 600;
    }
}

@media (max-width : 550px){

    .container{
        width: 400;
    }
}



.contained{
    width: 550px;
    margin: 10px auto;
    border: 1px solid lightgray;
    font-size: 14px;
    color: rgb(34, 40, 49);
}